.hero {
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.hero-left p {
  font-weight: bold;
  font-size: 6rem;
  letter-spacing: 4px;
}

.name {
  font-size: 2rem !important;
}

.job-title {
  line-height: 5rem;
}

.job-title :nth-child(2) {
  color: #00adb5;
  font-size: 3rem;
}

.button {
  width: max-content;
  background: #00adb5;
  padding: 1rem 2rem;
  border-radius: 10px;
  letter-spacing: 2px;
}

.button:hover, .button:active {
  opacity: 0.9;
}

.vector {
  width: 7rem;
  position: absolute;
  left: -120px;
}

.img-container {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid grey;
}

.img-container img {
  width: 100%;
}

@media (max-width: 1024px) {
  .hero {
    height: 28rem;
    gap: 5rem;
  }

  .hero-left p {
    font-weight: bold;
    font-size: 4rem;
  }

  .name {
    font-size: 1.5rem !important;
  }

  .job-title {
    line-height: 4rem;
  }

  .job-title :nth-child(2) {
    color: #00adb5;
    font-size: 3rem;
  }

  .button {
    padding: 0.5rem 1rem;
  }

  .vector {
    width: 6rem;
    left: -100px;
  }

  .img-container {
    width: 15rem;
    height: 15rem;
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column-reverse;
    gap: 5rem;
    height: 40rem;
  }

  .name {
    font-size: 1rem !important;
  }

  .job-title {
    line-height: 2.5rem;
    font-size: 1.75rem;
  }

  .job-title :nth-child(1) {
    font-size: 2.25rem;
  }

  .job-title :nth-child(2) {
    color: #00adb5;
    font-size: 1.75rem;
  }

  .vector {
    width: 4rem;
    left: -60px;
  }

}
